{
  "openapi": "3.1.0",
  "info": {
    "title": "MONA Pay API v1",
    "version": "1.0",
    "description": "MONA Pay là cổng thanh toán và API ngân hàng của The MONA Group, giúp doanh nghiệp Việt Nam nhận và xác nhận tiền chuyển khoản theo thời gian thực qua tài khoản ảo (VA), VietQR, webhook và Telegram. Tiền không đi qua MONA Pay. Tài liệu: https://monapay.vn/docs · llms.txt: https://monapay.vn/llms.txt",
    "contact": {
      "name": "MONA Pay",
      "url": "https://monapay.vn",
      "email": "info@themona.global"
    }
  },
  "servers": [
    {
      "url": "https://api.monapay.vn",
      "description": "Production"
    },
    {
      "url": "https://ipn.mona.host",
      "description": "Alias cũ (vẫn chạy)"
    }
  ],
  "paths": {
    "/api/v1/client/register-client": {
      "post": {
        "tags": [
          "Clients"
        ],
        "summary": "Register Client",
        "operationId": "register_client_api_v1_client_register_client_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK - The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "type": "null"
                    }
                  ],
                  "title": "Response Register Client Api V1 Client Register Client Post"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The server cannot or will not process the request due to a client error."
          },
          "401": {
            "description": "Unauthorized - Authentication is required and has failed or has not been provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition that prevented it from fulfilling the request."
          }
        },
        "security": [
          {
            "Bearer Auth": []
          }
        ]
      }
    },
    "/api/v1/client/login": {
      "post": {
        "tags": [
          "Clients"
        ],
        "summary": "Login",
        "description": "Login to get access token",
        "operationId": "login_api_v1_client_login_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK - The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "type": "null"
                    }
                  ],
                  "title": "Response Login Api V1 Client Login Post"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The server cannot or will not process the request due to a client error."
          },
          "401": {
            "description": "Unauthorized - Authentication is required and has failed or has not been provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition that prevented it from fulfilling the request."
          }
        },
        "security": [
          {
            "Bearer Auth": []
          }
        ]
      }
    },
    "/api/v1/client/me": {
      "get": {
        "tags": [
          "Clients"
        ],
        "summary": "Get Current Client",
        "description": "Get current logged in client info",
        "operationId": "get_current_client_api_v1_client_me_get",
        "responses": {
          "200": {
            "description": "OK - The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "type": "null"
                    }
                  ],
                  "title": "Response Get Current Client Api V1 Client Me Get"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The server cannot or will not process the request due to a client error."
          },
          "401": {
            "description": "Unauthorized - Authentication is required and has failed or has not been provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition that prevented it from fulfilling the request."
          }
        },
        "security": [
          {
            "Bearer Auth": []
          }
        ]
      }
    },
    "/api/v1/client/bank-accounts": {
      "get": {
        "tags": [
          "Clients"
        ],
        "summary": "List Bank Accounts",
        "description": "Danh sách bank account của client đang đăng nhập (Bearer token)",
        "operationId": "list_bank_accounts_api_v1_client_bank_accounts_get",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Page size",
              "default": 10,
              "title": "Limit"
            },
            "description": "Page size"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "type": "null"
                    }
                  ],
                  "title": "Response List Bank Accounts Api V1 Client Bank Accounts Get",
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The server cannot or will not process the request due to a client error."
          },
          "401": {
            "description": "Unauthorized - Authentication is required and has failed or has not been provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition that prevented it from fulfilling the request."
          }
        },
        "security": [
          {
            "Bearer Auth": []
          }
        ]
      }
    },
    "/api/v1/client/change-password": {
      "put": {
        "tags": [
          "Clients"
        ],
        "summary": "Change Own Password",
        "description": "Change user password (Self)",
        "operationId": "change_own_password_api_v1_client_change_password_put",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangePasswordRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK - The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "type": "null"
                    }
                  ],
                  "title": "Response Change Own Password Api V1 Client Change Password Put"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The server cannot or will not process the request due to a client error."
          },
          "401": {
            "description": "Unauthorized - Authentication is required and has failed or has not been provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition that prevented it from fulfilling the request."
          }
        },
        "security": [
          {
            "Bearer Auth": []
          }
        ]
      }
    },
    "/api/v1/client-keys/generate": {
      "post": {
        "tags": [
          "Client Keys"
        ],
        "summary": "Generate Key",
        "operationId": "generate_key_api_v1_client_keys_generate_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateKeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK - The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required and has failed or has not been provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Auth": []
          }
        ]
      }
    },
    "/api/v1/client-keys/list": {
      "get": {
        "tags": [
          "Client Keys"
        ],
        "summary": "List Keys",
        "operationId": "list_keys_api_v1_client_keys_list_get",
        "responses": {
          "200": {
            "description": "OK - The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required and has failed or has not been provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Auth": []
          }
        ]
      }
    },
    "/api/v1/client-keys/destroy/{key_id}": {
      "delete": {
        "tags": [
          "Client Keys"
        ],
        "summary": "Destroy Key",
        "operationId": "destroy_key_api_v1_client_keys_destroy__key_id__delete",
        "parameters": [
          {
            "name": "key_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Key Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required and has failed or has not been provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Auth": []
          }
        ]
      }
    },
    "/api/v1/acb/virtual-account/registration": {
      "post": {
        "tags": [
          "ACB VA Banking"
        ],
        "summary": "Đăng ký tài khoản VA",
        "description": "Đối tác gọi API này của ACB để gửi yêu cầu đăng ký tài khoản VA.\n            ACB sẽ nhận và kiểm tra thông tin đầu vào.\n            Yêu cầu:\n            Phải truyền đầy đủ các thông tin bắt buộc.\n            Mã đăng ký dịch vụ phải trùng khớp với thông tin đăng ký trong hệ thống và còn đang hoạt động",
        "operationId": "virtual_account_registration_api_v1_acb_virtual_account_registration_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VirtualAccountRegistrationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK - The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The server cannot or will not process the request due to a client error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required and has failed or has not been provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition that prevented it from fulfilling the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Auth": []
          }
        ]
      }
    },
    "/api/v1/acb/{acb_request_id}/virtual-account/verification": {
      "post": {
        "tags": [
          "ACB VA Banking"
        ],
        "summary": "Xác thực đăng ký/hủy tài khoản định danh",
        "description": "Đối tác gọi API này của ACB để gửi yêu cầu thông tin tài khoản định danh.\n            ACB sẽ nhận và kiểm tra thông tin đầu vào.\n            Yêu cầu:\n            Phải truyền đầy đủ các thông tin bắt buộc.\n            Mã xác thực phải trùng khớp với mã hệ thống đã gửi cho khách hàng.",
        "operationId": "virtual_account_verification_api_v1_acb__acb_request_id__virtual_account_verification_post",
        "parameters": [
          {
            "name": "acb_request_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Acb Request Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Body_virtual_account_verification_api_v1_acb__acb_request_id__virtual_account_verification_post"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK - The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The server cannot or will not process the request due to a client error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required and has failed or has not been provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition that prevented it from fulfilling the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Auth": []
          }
        ]
      }
    },
    "/api/v1/acb/virtual-account/transactions": {
      "get": {
        "tags": [
          "ACB VA Banking"
        ],
        "summary": "Danh sách giao dịch của VA",
        "description": "Trả về giao dịch RTXN đã lưu theo `virtual_account_number`.\n            Hệ thống lấy VA nội bộ theo số VA, kiểm tra quyền sở hữu rồi join transaction.\n            Phân trang: `page`, `limit`.",
        "operationId": "list_va_transactions_api_v1_acb_virtual_account_transactions_get",
        "parameters": [
          {
            "name": "virtual_account_number",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Virtual Account number",
              "title": "Virtual Account Number"
            },
            "description": "Virtual Account number"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Page size",
              "default": 10,
              "title": "Limit"
            },
            "description": "Page size"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The server cannot or will not process the request due to a client error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required and has failed or has not been provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition that prevented it from fulfilling the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Auth": []
          }
        ]
      }
    },
    "/api/v1/acb/{virtual_account_id}/virtual-account/delete": {
      "post": {
        "tags": [
          "ACB VA Banking"
        ],
        "summary": "Hủy tài khoản VA",
        "description": "Đối tác gọi API này của ACB để gửi yêu cầu hủy tài khoản VA.\n            ACB sẽ nhận và kiểm tra thông tin đầu vào.\n            Yêu cầu:\n            Phải truyền đầy đủ các thông tin bắt buộc.\n            Mã đăng ký dịch vụ phải trùng khớp với thông tin đăng ký trong hệ thống và còn đang hoạt động",
        "operationId": "delete_api_v1_acb__virtual_account_id__virtual_account_delete_post",
        "parameters": [
          {
            "name": "virtual_account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Virtual Account Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The server cannot or will not process the request due to a client error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required and has failed or has not been provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition that prevented it from fulfilling the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Auth": []
          }
        ]
      }
    },
    "/api/v1/acb/{bank_account_id}/virtual-account/retrieve": {
      "get": {
        "tags": [
          "ACB VA Banking"
        ],
        "summary": "Truy vấn danh sách tài khoản VA",
        "description": "Đối tác gọi API này của ACB để truy vấn danh sách tài khoản VA",
        "operationId": "retrieve_api_v1_acb__bank_account_id__virtual_account_retrieve_get",
        "parameters": [
          {
            "name": "bank_account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Bank Account Id"
            }
          },
          {
            "name": "virtual_account_number",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Virtual Account number",
              "title": "Virtual Account Number"
            },
            "description": "Virtual Account number"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number, default is 1",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number, default is 1"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Page size, default is 10",
              "default": 10,
              "title": "Limit"
            },
            "description": "Page size, default is 10"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The server cannot or will not process the request due to a client error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required and has failed or has not been provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition that prevented it from fulfilling the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Auth": []
          }
        ]
      }
    },
    "/api/v1/acb/{virtual_account_id}/notification/registration": {
      "post": {
        "tags": [
          "ACB IPN Banking"
        ],
        "summary": "Đăng ký dịch vụ thông báo giao dịch",
        "description": "Đối tác gọi API này của ACB để gửi yêu cầu đăng ký dịch vụ thông báo giao dịch.\n            ACB sẽ nhận và kiểm tra thông tin đầu vào.\n            Yêu cầu:\n            Phải truyền đầy đủ các thông tin bắt buộc.",
        "operationId": "notification_registration_api_v1_acb__virtual_account_id__notification_registration_post",
        "parameters": [
          {
            "name": "virtual_account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Virtual Account Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationRegistrationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK - The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The server cannot or will not process the request due to a client error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required and has failed or has not been provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition that prevented it from fulfilling the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Auth": []
          }
        ]
      }
    },
    "/api/v1/acb/{acb_request_id}/notification/verification": {
      "post": {
        "tags": [
          "ACB IPN Banking"
        ],
        "summary": "Xác thực đăng ký/cập nhật/hủy dịch vụ thông báo",
        "description": "Đối tác gọi API này của ACB để gửi yêu cầu đăng ký dịch vụ thông báo giao dịch.\n            ACB sẽ nhận và kiểm tra thông tin đầu vào.\n            Yêu cầu:\n            Phải truyền đầy đủ các thông tin bắt buộc.\n            Mã xác thực phải trùng khớp với mã hệ thống đã gửi cho khách hàng.",
        "operationId": "notification_verification_api_v1_acb__acb_request_id__notification_verification_post",
        "parameters": [
          {
            "name": "acb_request_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Acb Request Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Body_notification_verification_api_v1_acb__acb_request_id__notification_verification_post"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK - The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The server cannot or will not process the request due to a client error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required and has failed or has not been provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition that prevented it from fulfilling the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Auth": []
          }
        ]
      }
    },
    "/api/v1/acb/{acb_notification_id}/notification/modification": {
      "post": {
        "tags": [
          "ACB IPN Banking"
        ],
        "summary": "Cập nhật dịch vụ thông báo giao dịch",
        "description": "Đối tác gọi API này của ACB để gửi yêu cầu cập nhật dịch vụ thông báo giao dịch.\n            ACB sẽ nhận và kiểm tra thông tin đầu vào.\n            Yêu cầu:\n            Phải truyền đầy đủ các thông tin bắt buộc.",
        "operationId": "notification_modification_api_v1_acb__acb_notification_id__notification_modification_post",
        "parameters": [
          {
            "name": "acb_notification_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Acb Notification Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationRegistrationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK - The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The server cannot or will not process the request due to a client error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required and has failed or has not been provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition that prevented it from fulfilling the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Auth": []
          }
        ]
      }
    },
    "/api/v1/acb/{acb_notification_id}/notification/delete": {
      "post": {
        "tags": [
          "ACB IPN Banking"
        ],
        "summary": "Hủy đăng ký dịch vụ thông báo giao dịch",
        "description": "Đối tác gọi API này của ACB để gửi yêu cầu hủy đăng ký dịch vụ thông báo giao dịch\n        ACB sẽ nhận và kiểm tra thông tin đầu vào.\n        Yêu cầu:\n        Phải truyền đầy đủ các thông tin bắt buộc.\n        Mã đăng ký dịch vụ trùng khớp với thông tin lưu trong hệ thống và còn đang hoạt động\n        Loại dịch vụ hủy trùng khớp với dịch vụ ACB cung cấp và được đăng ký dịch vụ tại ACB",
        "operationId": "delete_api_v1_acb__acb_notification_id__notification_delete_post",
        "parameters": [
          {
            "name": "acb_notification_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Acb Notification Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The server cannot or will not process the request due to a client error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required and has failed or has not been provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition that prevented it from fulfilling the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Auth": []
          }
        ]
      }
    },
    "/api/v1/acb/qr-payment/generate": {
      "post": {
        "tags": [
          "ACB QR Banking"
        ],
        "summary": "Khởi tạo QR Code",
        "description": "Đây là chuẩn ACB cung cấp cho doanh nghiệp để doanh nghiệp xây dựng API theo chuẩn này với mục đích gọi sang hệ thống ACB cung cấp thông tin đơn hàng thanh toán cần tạo QRCode. Điều kiện cần:\n            \n            Số tài khoản hưởng là tài khoản của doanh nghiệp và đã có đăng ký Tài khoản định danh trên hệ thống ACB.\n            QR Code được doanh nghiệp thể hiện phải có các thông tin:\n            Dòng cảnh báo người thanh toán ”Quý khách vui lòng kiểm tra thông tin thanh tóan trước khi thực hiện giao dịch”.\n            Số tiền cần phải thanh toán in Đậm và kích cỡ lớn.",
        "operationId": "qr_payment_generate_api_v1_acb_qr_payment_generate_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QRPaymentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Kết quả tạo QR, có qr_image_url trỏ tới ảnh PNG public.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "additionalProperties": true,
                      "required": [
                        "qr_image_url"
                      ],
                      "properties": {
                        "qr_image_url": {
                          "type": "string",
                          "format": "uri",
                          "description": "Ảnh PNG public của QR."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The server cannot or will not process the request due to a client error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required and has failed or has not been provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition that prevented it from fulfilling the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Auth": []
          }
        ]
      }
    },
    "/api/v1/acb/qr-payment/{qr_code_id}/cancellation": {
      "delete": {
        "tags": [
          "ACB QR Banking"
        ],
        "summary": "Hủy QR Code",
        "description": "Chuẩn kỹ thuật này được ACB cung cấp cho các doanh nghiệp để doanh nghiệp xây dựng API gọi về hệ thống ACB thực hiện hủy QR Code tạo nhưng chưa thực hiện thanh toán.",
        "operationId": "qr_payment_cancellation_api_v1_acb_qr_payment__qr_code_id__cancellation_delete",
        "parameters": [
          {
            "name": "qr_code_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Qr Code Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QRCancelRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK - The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The server cannot or will not process the request due to a client error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required and has failed or has not been provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition that prevented it from fulfilling the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer Auth": []
          }
        ]
      }
    },
    "/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Health Check",
        "operationId": "health_check_health_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "security": [
          {
            "Bearer Auth": []
          }
        ]
      }
    },
    "/api/v1/billing/plans": {
      "get": {
        "tags": [
          "billing"
        ],
        "summary": "Danh sách 5 gói (public, không cần đăng nhập)",
        "security": [],
        "responses": {
          "200": {
            "description": "5 gói: code, name, price_month, price_year (= price_month × 10), tx_limit, overage_per_tx, features",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/billing/usage": {
      "get": {
        "tags": [
          "billing"
        ],
        "summary": "Mức dùng tháng hiện tại của client",
        "description": "Giao dịch = 1 khoản tiền VÀO ghi nhận trên mọi tài khoản/VA đã nối, cắt tháng theo giờ Việt Nam (UTC+7). Sandbox và webhook gửi lại không tính.",
        "responses": {
          "200": {
            "description": "plan_code, plan_cycle, plan_expires_at, tx_used, tx_limit, overage_tx, overage_amount",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/billing/invoices": {
      "get": {
        "tags": [
          "billing"
        ],
        "summary": "Danh sách hoá đơn (phân trang, mới nhất trước)",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "{ data: [...], total }",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {}
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "billing"
        ],
        "summary": "Tạo hoá đơn nâng gói (cần X-Client-Secret)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "plan_code",
                  "cycle"
                ],
                "properties": {
                  "plan_code": {
                    "type": "string",
                    "enum": [
                      "startup",
                      "business",
                      "enterprise",
                      "scale"
                    ]
                  },
                  "cycle": {
                    "type": "string",
                    "enum": [
                      "month",
                      "year"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Hoá đơn pending, hạn 48h, mã chuyển khoản MPAY + 6 số, kèm payment: ảnh VietQR + payload EMVCo. Chuyển đúng số tiền với nội dung là mã MPAY, hệ tự khớp trong vài giây.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/billing/invoices/{invoice_id}": {
      "get": {
        "tags": [
          "billing"
        ],
        "summary": "Chi tiết hoá đơn (poll trạng thái paid)",
        "parameters": [
          {
            "name": "invoice_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Hoá đơn + payment nếu còn pending; status: pending | paid | cancelled | expired",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/billing/invoices/{invoice_id}/cancel": {
      "post": {
        "tags": [
          "billing"
        ],
        "summary": "Huỷ hoá đơn pending (cần X-Client-Secret)",
        "parameters": [
          {
            "name": "invoice_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "pending → cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/email-configs": {
      "get": {
        "tags": [
          "Email"
        ],
        "summary": "Danh sách cấu hình email",
        "operationId": "list_email_configs",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Envelope với data là EmailConfig[].",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EmailConfig"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Email"
        ],
        "summary": "Tạo cấu hình email",
        "operationId": "create_email_config",
        "security": [
          {
            "bearerAuth": [],
            "clientSecret": []
          }
        ],
        "description": "Tạo ở trạng thái chưa hoạt động nếu còn địa chỉ chưa xác minh. Hệ thống tự gửi mã 6 số, hạn 15 phút, tới từng địa chỉ mới.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 255
            },
            "description": "TTL 24 giờ; cùng key khác body trả 409."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailConfigCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "data có pending_verification cho địa chỉ còn chờ mã.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/EmailConfig"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Idempotency-Key đã dùng với body khác."
          },
          "422": {
            "description": "Dữ liệu không hợp lệ hoặc quá 10 người nhận."
          }
        }
      }
    },
    "/api/v1/email-configs/{id}": {
      "get": {
        "tags": [
          "Email"
        ],
        "summary": "Chi tiết cấu hình email",
        "operationId": "get_email_config",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Envelope với data là EmailConfig.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/EmailConfig"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Không tìm thấy cấu hình thuộc client."
          }
        }
      },
      "put": {
        "tags": [
          "Email"
        ],
        "summary": "Cập nhật cấu hình email",
        "operationId": "update_email_config",
        "security": [
          {
            "bearerAuth": [],
            "clientSecret": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "description": "is_active=true khi còn người nhận chưa xác minh trả 422 với detail recipients_unverified.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "minProperties": 1,
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "recipients": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 10,
                    "uniqueItems": true,
                    "items": {
                      "type": "string",
                      "format": "email"
                    }
                  },
                  "events": {
                    "type": "array",
                    "minItems": 1,
                    "contains": {
                      "const": "TRANSACTION_IN"
                    },
                    "items": {
                      "type": "string",
                      "enum": [
                        "TRANSACTION_IN",
                        "WEBHOOK_FAILED",
                        "VA_CREATED"
                      ]
                    }
                  },
                  "virtual_account_id": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "uuid"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "is_active": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Envelope với data là EmailConfig.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/EmailConfig"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "detail=recipients_unverified hoặc dữ liệu không hợp lệ."
          }
        }
      },
      "delete": {
        "tags": [
          "Email"
        ],
        "summary": "Xoá thật cấu hình email",
        "operationId": "delete_email_config",
        "security": [
          {
            "bearerAuth": [],
            "clientSecret": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Đã xoá cấu hình.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {}
                  }
                }
              }
            }
          },
          "404": {
            "description": "Không tìm thấy cấu hình thuộc client."
          }
        }
      }
    },
    "/api/v1/email-configs/{id}/verify": {
      "post": {
        "tags": [
          "Email"
        ],
        "summary": "Xác minh người nhận email",
        "operationId": "verify_email_recipient",
        "security": [
          {
            "bearerAuth": [],
            "clientSecret": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 255
            },
            "description": "TTL 24 giờ; cùng key khác body trả 409."
          }
        ],
        "description": "Mã 6 số hết hạn sau 15 phút, tối đa 5 lần nhập sai. Khi mọi địa chỉ đã xác minh, hệ thống tự bật cấu hình.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "code"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "code": {
                    "type": "string",
                    "pattern": "^[0-9]{6}$"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Envelope với data là EmailConfig.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/EmailConfig"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Mã sai, hết hạn hoặc đã vượt 5 lần nhập sai."
          }
        }
      }
    },
    "/api/v1/email-configs/{id}/resend-verification": {
      "post": {
        "tags": [
          "Email"
        ],
        "summary": "Gửi lại mã xác minh email",
        "operationId": "resend_email_verification",
        "security": [
          {
            "bearerAuth": [],
            "clientSecret": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 255
            },
            "description": "TTL 24 giờ; cùng key khác body trả 409."
          }
        ],
        "description": "Giới hạn 5 lần mỗi địa chỉ mỗi giờ và 30 lần mỗi client mỗi giờ.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Đã gửi mã mới nếu địa chỉ cần xác minh.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {}
                  }
                }
              }
            }
          },
          "429": {
            "description": "Vượt rate limit xác minh."
          }
        }
      }
    },
    "/api/v1/email-configs/{id}/test": {
      "post": {
        "tags": [
          "Email"
        ],
        "summary": "Gửi thử email tiền vào",
        "operationId": "test_email_config",
        "security": [
          {
            "bearerAuth": [],
            "clientSecret": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 255
            },
            "description": "TTL 24 giờ; cùng key khác body trả 409."
          }
        ],
        "description": "Gửi mẫu TRANSACTION_IN tới người nhận đã xác minh. Giới hạn 20 mail mỗi client mỗi giờ.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "maxProperties": 0
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "data: {sent: string[], skipped: [{email, reason}], log_ids: []}",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {}
                  }
                }
              }
            }
          },
          "429": {
            "description": "Vượt giới hạn mail test."
          }
        }
      }
    },
    "/api/v1/email-logs": {
      "get": {
        "tags": [
          "Email"
        ],
        "summary": "Log gửi email",
        "operationId": "list_email_logs",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "description": "Chỉ trả metadata; không lưu hoặc trả nội dung email.",
        "parameters": [
          {
            "name": "config_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "sent",
                "failed",
                "suppressed"
              ]
            }
          },
          {
            "name": "event_type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "TRANSACTION_IN",
                "WEBHOOK_FAILED",
                "VA_CREATED",
                "VERIFICATION",
                "TEST",
                "RECEIPT"
              ]
            }
          },
          {
            "name": "from_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Log phân trang.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "items",
                        "page",
                        "limit",
                        "total"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/EmailLog"
                          }
                        },
                        "page": {
                          "type": "integer"
                        },
                        "limit": {
                          "type": "integer"
                        },
                        "total": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/email-logs/stats": {
      "get": {
        "tags": [
          "Email"
        ],
        "summary": "Thống kê gửi email",
        "operationId": "get_email_log_stats",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "from_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "data: {total, sent, failed, suppressed, success_rate, p95_duration_ms, error_labels: {label: n}}",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/email-suppressions": {
      "get": {
        "tags": [
          "Email"
        ],
        "summary": "Danh sách địa chỉ email bị chặn",
        "description": "Chỉ trả địa chỉ thuộc các cấu hình của client hiện tại.",
        "operationId": "list_email_suppressions",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Danh sách suppression gồm email, reason và thời điểm tạo.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/email-suppressions/{email}": {
      "delete": {
        "tags": [
          "Email"
        ],
        "summary": "Gỡ chặn địa chỉ email",
        "operationId": "delete_email_suppression",
        "security": [
          {
            "bearerAuth": [],
            "clientSecret": []
          }
        ],
        "description": "Client tự chịu trách nhiệm gỡ chặn sau khi sửa nguyên nhân; percent-encode địa chỉ trong URL khi cần.",
        "parameters": [
          {
            "name": "email",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "email"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Đã gỡ chặn địa chỉ.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {}
                  }
                }
              }
            }
          },
          "404": {
            "description": "Địa chỉ không bị chặn hoặc không thuộc client."
          }
        }
      }
    },
    "/api/v1/sandbox/transactions": {
      "post": {
        "tags": [
          "Sandbox"
        ],
        "summary": "Tạo giao dịch tiền vào giả",
        "operationId": "create_sandbox_transaction",
        "security": [
          {
            "bearerAuth": [],
            "clientSecret": []
          }
        ],
        "description": "Chạy được trước khi nối ngân hàng: MONA Pay tự tạo hoặc dùng lại VA sandbox SBX. Nếu truyền VA thật đã nối thì dùng VA đó. Giao dịch đi qua webhook, Telegram, email và checkout matcher nhưng không chuyển tiền thật, không tính hạn mức.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SandboxTransactionCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Giao dịch sandbox đã được chấp nhận để xử lý.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/SandboxTransaction"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Bearer token không hợp lệ hoặc hết hạn."
          },
          "403": {
            "description": "Thiếu hoặc sai X-Client-Secret."
          },
          "422": {
            "description": "Body không hợp lệ hoặc tài khoản được chỉ định không thuộc client."
          }
        }
      }
    },
    "/api/v1/payment-profile": {
      "get": {
        "tags": [
          "Hosted checkout"
        ],
        "summary": "Hồ sơ trang thanh toán",
        "operationId": "get_payment_profile",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Hồ sơ của client.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/PaymentProfile"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Chưa có hồ sơ thanh toán."
          }
        }
      },
      "put": {
        "tags": [
          "Hosted checkout"
        ],
        "summary": "Tạo hoặc cập nhật hồ sơ trang thanh toán",
        "operationId": "set_payment_profile",
        "security": [
          {
            "bearerAuth": [],
            "clientSecret": []
          }
        ],
        "description": "Kiểm tra tài khoản ngân hàng và VA thuộc client. return_signature_secret chỉ được trả một lần khi tạo mới.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentProfile"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Hồ sơ đã lưu.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/PaymentProfile"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "VA hoặc dữ liệu hồ sơ không hợp lệ."
          }
        }
      }
    },
    "/api/v1/payment-profile/reveal-return-secret": {
      "post": {
        "tags": [
          "Hosted checkout"
        ],
        "summary": "Xem lại secret ký redirect",
        "operationId": "reveal_checkout_return_secret",
        "security": [
          {
            "bearerAuth": [],
            "clientSecret": []
          }
        ],
        "description": "Xác nhận chủ tài khoản bằng password hoặc totp_code rồi trả return_signature_secret.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "minProperties": 1,
                "properties": {
                  "password": {
                    "type": "string",
                    "minLength": 1
                  },
                  "totp_code": {
                    "type": "string",
                    "pattern": "^[0-9]{6}$"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Secret hiện tại.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "return_signature_secret"
                      ],
                      "properties": {
                        "return_signature_secret": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Xác nhận mật khẩu hoặc 2FA không đúng."
          },
          "404": {
            "description": "Chưa có hồ sơ thanh toán."
          }
        }
      }
    },
    "/api/v1/payment-profile/rotate-return-secret": {
      "post": {
        "tags": [
          "Hosted checkout"
        ],
        "summary": "Xoay secret ký redirect",
        "operationId": "rotate_checkout_return_secret",
        "security": [
          {
            "bearerAuth": [],
            "clientSecret": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 255
            },
            "description": "TTL 24 giờ; cùng key khác body trả 409."
          }
        ],
        "responses": {
          "200": {
            "description": "Secret mới, chỉ trả một lần.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "return_signature_secret"
                      ],
                      "properties": {
                        "return_signature_secret": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/checkouts": {
      "get": {
        "tags": [
          "Hosted checkout"
        ],
        "summary": "Danh sách phiên thanh toán",
        "operationId": "list_checkouts",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "paid",
                "expired",
                "cancelled"
              ]
            }
          },
          {
            "name": "order_code",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 50
            }
          },
          {
            "name": "from_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Danh sách checkout phân trang.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "items",
                        "page",
                        "limit",
                        "total"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Checkout"
                          }
                        },
                        "page": {
                          "type": "integer"
                        },
                        "limit": {
                          "type": "integer"
                        },
                        "total": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Hosted checkout"
        ],
        "summary": "Tạo phiên thanh toán và link thu tiền",
        "operationId": "create_checkout",
        "security": [
          {
            "bearerAuth": [],
            "clientSecret": []
          }
        ],
        "description": "Tạo VietQR động và trả checkout_url. Nếu chưa có hồ sơ trả 422 detail=payment_profile_missing.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 255
            },
            "description": "TTL 24 giờ; cùng key khác body trả 409."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Envelope với data là Checkout.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Checkout"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Trùng order_code đang pending hoặc Idempotency-Key khác body."
          },
          "422": {
            "description": "payment_profile_missing hoặc dữ liệu không hợp lệ."
          },
          "502": {
            "description": "Ngân hàng không tạo được QR."
          }
        }
      }
    },
    "/api/v1/checkouts/{id}": {
      "get": {
        "tags": [
          "Hosted checkout"
        ],
        "summary": "Chi tiết phiên thanh toán",
        "operationId": "get_checkout",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Envelope với data là Checkout.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Checkout"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Không tìm thấy checkout thuộc client."
          }
        }
      }
    },
    "/api/v1/checkouts/{id}/cancel": {
      "post": {
        "tags": [
          "Hosted checkout"
        ],
        "summary": "Huỷ phiên đang chờ",
        "operationId": "cancel_checkout",
        "security": [
          {
            "bearerAuth": [],
            "clientSecret": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 255
            },
            "description": "TTL 24 giờ; cùng key khác body trả 409."
          }
        ],
        "responses": {
          "200": {
            "description": "Envelope với data là Checkout.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Checkout"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Không tìm thấy checkout."
          },
          "409": {
            "description": "Checkout không còn ở trạng thái pending."
          }
        }
      }
    },
    "/api/v1/checkouts/{id}/expire-now": {
      "post": {
        "tags": [
          "Hosted checkout"
        ],
        "summary": "Cho phiên hết hạn ngay",
        "operationId": "expire_checkout_now",
        "security": [
          {
            "bearerAuth": [],
            "clientSecret": []
          }
        ],
        "description": "Chỉ dành cho admin hoặc test.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 255
            },
            "description": "TTL 24 giờ; cùng key khác body trả 409."
          }
        ],
        "responses": {
          "200": {
            "description": "Envelope với data là Checkout.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Checkout"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Checkout không còn pending."
          }
        }
      }
    },
    "/api/v1/checkouts/public/{token}": {
      "get": {
        "tags": [
          "Hosted checkout public"
        ],
        "summary": "Dữ liệu trang thanh toán public",
        "operationId": "get_public_checkout",
        "security": [],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 32
            }
          }
        ],
[...]
